/* Main Styles */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Georgia;
}

body {
  background: #263238;
}
header,
footer {
  background: #455a64;
}
header {
  padding: 0 25px;
  height: 75px;
  border-bottom: 15px solid #37474f;
}
header h1 {
  padding: 0 10px;
}

footer {
  height: 50px;
  border-top: 10px solid #37474f;
}

article {
  padding: 40px;
  background: #455a64;
  border: 15px solid #37474f;
}

a {
  color: #2196f3;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  margin: 0;
  color: #eceff1;
  font-weight: lighter;
}

hr {
  border: 1px solid #37474f;
}

p {
  color: white;
}

/* Flexbox Styles */
body {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}

header,
main,
footer {
  display: flex;
  align-items: center;
}
header {
  justify-content: left;
}
main {
  justify-content: center;
  flex: 1;
}
footer {
  justify-content: center;
}
